# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?

# Slidev
.vite-inspect
.remote-assets
components.d.ts
slides-export.pdf
slides-export.png
slides-export
.slidev

# Environment variables
.env
.env.*
!.env.example

# Testing
coverage/
playwright-report/
test-results/
